
        .buttonA {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        
        .buttonM {
            display: inline-block;
            padding: 10px 20px;
            background-color: #e65f5f;
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        
        .buttonC {
            display: inline-block;
            padding: 10px 20px;
            background-color: #bd3434;
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
      
        
        .buttonAC {
            display: inline-block;
            padding: 10px 20px;
            background-color: #549b56;
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }